<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    .container2 img{
        float: left;
        margin: 20px;
    }
    </style>
</head>
<body>
<div class="container">
    <img src="logo.gif" alt="logo" class="img" border="0" width="200px" height="200px" />
中国绿化建设网依托园林绿化企业的深厚资源，集全面的行业信息、超强的垂直行业引擎、新型B2B交易系统、行业人才市场于一体，为园林绿化行业的企业提供商业全面、交易安全、资讯快速、服务专业的全方位服务，切实满足企业的各项需求。
</div>
<hr>
<div class="container2">
        前端开发工程师是一个很新的职业，在国内乃至国际上真正开始受到重视的时间不超过5
        年，是指Web前端开发工程师的简称。 Web前端开发是从美工演变而来的，名称上有很明显的时代特征。
        在互联网的演化进程中，Web 1.0时代，
        <img src="1.jpg" alt="This is a pic" width="100px" height="100px"/>
        网站的主要内容都是静态的，用户使用网站的行为也以浏览为主2005年以后，互联网进入Web 2.0时代，
        各种类似桌面软件的Web应用大量涌现，网站的前端由此发生了翻天覆地的变化。网页不再只是承载单一
        的文字和图片，各种富媒体让网页的内容更加生动，网页上软件化的交互形式为用户提供了更好的使用体验，
        这些都是基于前端技术实现的。

        随着Web 2.0概念的普及和W3C组织的推广，网站重构的影响力正以惊人的速度增长。XHTML+CSS布局、DHTML
        和Ajax像一阵旋风，铺天盖地席卷而来，包括新浪、搜狐、网易、腾讯、淘宝等在内的各种规模的IT企业都对自己的
        网站进行了重构
</div>


</body>
</html>