<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    .pt, .tr{
      background: pink;
      height: 50px;
      border:2px dashed black;
    }
    .pt2{
      position: relative;
      top:20px;
    }
    .tr2{
      transform: translateY(20px);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="pt pt1"></div>
    <div class="pt pt2">在原有位置上偏移  占据空间的是原本的位置  偏移并不占据空间</div>
    <div class="pt pt3"></div>
  </div>
  <h1>!</h1>
  <div class="container">
    <div class="tr tr1"></div>
    <div class="tr tr2"></div>
    <div class="tr tr3"></div>
  </div>
</body>
</html>